#TMSH-VERSION: 16.1.5
sys global-settings {
    hostname bigip-b.example.test
    console-inactivity-timeout 300
}
sys sshd {
    login enabled
    allow { 192.0.2.0/255.255.255.0 }
    inactivity-timeout 300
}
sys httpd {
    allow { 192.0.2.0/255.255.255.0 }
    redirect-http-to-https enabled
    ssl-protocol "all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1"
    ssl-ciphersuite ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384
}
sys snmp {
    allowed-addresses { 127. 192.0.2.30 }
    communities none
    users {
        /Common/monitor {
            username monitor
            auth-protocol sha
            auth-password SyntheticSnmpAuthSecret
            privacy-protocol aes
            privacy-password SyntheticSnmpPrivSecret
            security-level auth-privacy
            access ro
        }
    }
}
cli global-settings {
    audit enabled
    idle-timeout 15
}
auth password-policy {
    policy-enforcement enabled
}
sys syslog {
    remote-servers {
        log1 { host 192.0.2.20 remote-port 514 }
    }
}
ltm profile client-ssl /Common/protected_ssl {
    mode enabled
    allow-non-ssl disabled
}
ltm virtual /Common/application {
    enabled
    destination /Common/192.0.2.101:443
    profiles { /Common/protected_ssl { context clientside } }
}
