ltm virtual /Common/example {
    destination /Common/192.0.2.100:443
    profiles { /Common/tcp { } /Common/clientssl { } }
}
sys sshd {
    login enabled
    allow none
    inactivity-timeout 0
}
sys sshd {
    login disabled
    allow replace-all-with { 192.0.2.0/24 }
    inactivity-timeout 300
}
sys httpd { allow none redirect-http-to-https enabled }
cli global-settings { audit unexpected idle-timeout 15 }
auth password-policy { policy-enforcement enabled }
sys syslog { remote-servers { collector { host 192.0.2.20 } } }
